<script setup lang="ts">
import { defineProps } from 'vue'

const props = defineProps<{
  icon: string,
  title: string,
  href: string
}>()
</script>

<template>
  <button
    class="border border-cool-gray-500 rounded py-2 px-4 transition duration-300 ease-in-out hover:bg-cool-gray-500 hover:text-white inline-flex items-center mr-2 mb-2 transition ease-in-out"
  >
    <span class="iconify text-xl mr-2" :data-icon="$props.icon" data-inline="false"></span>
    <a :href="$props.href" class="text-sm">{{ $props.title }}</a>
  </button>
</template>

