<script setup lang="ts">
import { capitalizeStr } from "~/utils/index"
</script>

<template>
  <div class="max-w-lg rounded overflow-hidden shadow p-4 bg-light-50">
    <h1 class="text-base text-cool-gray-500 mb-5">
      RS Umum Dr. Suyoto Pusrehab Kemhan
      <uil-external-link-alt />
    </h1>
    <div class="inline-flex flex-col">
      <div class="inline-flex flex-wrap mb-5">
        <carbon-hospital-bed class="mr-1 text-cool-gray-500" />
        <span class="text-sm text-cool-gray-500">
          Ruangan yang tersedia:
          <span class="font-bold">6</span>
        </span>
      </div>
      <div class="inline-flex flex-wrap mb-5">
        <uil-info-circle class="mr-1 text-cool-gray-500" />
        <span class="text-sm text-cool-gray-500">
          Info:
          <span class="font-bold">{{ capitalizeStr("diupdate 9 jam yang lalu") }}</span>
        </span>
      </div>
      <div class="inline-grid grid-cols-2">
        <slot name="button" />
      </div>
    </div>
  </div>
</template>
