<script setup lang="ts">
import { useToggle } from '@vueuse/core'
import { isDark, toggleDark } from '~/utils'
</script>

<template>
  <nav class="relative px-4 h-20" role="navigation" aria-label="navbar">
    <div class="mx-auto h-full flex flex-row items-center space-x-4">
      <span class="font-bold tracking-wide text-2xl flex-1 text-dark-500 dark:text-light-200">Cari RS Indo</span>
      <div class="flex flex-wrap items-center">
        <button @click="toggleDark" class="flex inline-flex p-2">
          <carbon-sun
            v-if="isDark"
            class="mx-auto cursor-pointer text-md text-dark-500 dark:text-light-200"
          />
          <carbon-moon
            v-else
            class="mx-auto cursor-pointer text-md text-dark-500 dark:text-light-200"
          />
        </button>
      </div>
    </div>
  </nav>
</template>
