<script setup lang="ts">
import { onMounted, reactive, ref } from 'vue'
import { useHead } from "@vueuse/head"
import type { DataProvinces } from '~/typings/'

// In this section, we use @vueuse/head. Check this for more detail
// https://github.com/vueuse/head
useHead({
  title: "Cari Rs Indo",
  meta: [
    {
      name: "description",
      content: "Temukan rumah sakit rujukan yang masih tersedia",
    },
  ],
})

// Setup province list
const dataProvinces = ref<Array<DataProvinces>>([])
const province = ref()
async function fetchProvinces() {
  const getData = await fetch('/api/getProvinces')
  const data = await getData.json()
  dataProvinces.value.push(...data)
}
function onChangeProvince(e: Event) {
  const target = e.target as HTMLInputElement
  return target.value
}

onMounted(async () => {
  await fetchProvinces()
})
</script>

<template>
  <div class="min-h-100vh max-w-screen-lg mx-auto flex flex-col bg-light-200 dark:bg-dark-400">
    <Navbar />
    <h1
      class="text-center text-dark-500 dark:text-light-200"
    >Temukan Rumah Sakit Yang Masih Tersedia di Indonesia</h1>
    <form class="mt-5 mb-5 px-4">
      <div class="inline-grid grid-cols-3 gap-2 w-full">
        <label for="type" class="inline-flex flex-wrap flex-col">
          <span class="mb-3 text-cool-gray-500 dark:text-light-100">Tipe</span>
          <select name="type" id="type" class="rounded px-4 py-2 shadow">
            <option selected disabled>Pilih tipe</option>
            <option value="covid">Covid</option>
            <option value="noncovid">Non Covid</option>
          </select>
        </label>
        <label for="provinsi" class="inline-flex flex-wrap flex-col">
          <span class="mb-3 text-cool-gray-500 dark:text-light-100">Provinsi</span>
          <select
            name="provinsi"
            id="provinsi"
            class="rounded px-4 py-2 shadow"
            @change="onChangeProvince($event)"
            v-model="province"
          >
            <option selected disabled>Pilih provinsi</option>
            <option
              v-for="(province, i) in dataProvinces"
              :key="i"
              :value="province.id"
            >{{ province.value }}</option>
          </select>
        </label>
        <label for="kotkec" class="inline-flex flex-wrap flex-col">
          <span class="mb-3 text-cool-gray-500 dark:text-light-100">Kota/Kecamatan</span>
          <select name="kotkec" id="kotkec" class="rounded px-4 py-2 shadow" :disabled="false">
            <option selected disabled>Pilih kota atau kecamatan</option>
          </select>
        </label>
      </div>
      <div class="flex flex-wrap items-center justify-center">
        <button type="submit" class="btn-submit">
          <span
            class="iconify text-xl mr-2 text-cool-gray-500 dark:text-light-100"
            data-icon="carbon:search"
            data-inline="false"
          ></span>
          <span class="text-sm text-cool-gray-500 dark:text-light-100">Cari</span>
        </button>
      </div>
    </form>
    <div class="inline-grid grid-cols-1 lg:grid-cols-3 px-4 py-6 gap-4 mx-auto">
      <Card>
        <template #button>
          <Button icon="mdi:phone" title="Telepon" href="#" />
        </template>
      </Card>
      <Card>
        <template #button>
          <Button icon="mdi:phone" title="Telepon" href="#" />
        </template>
      </Card>
      <Card>
        <template #button>
          <Button icon="mdi:phone" title="Telepon" href="#" />
        </template>
      </Card>
      <Card>
        <template #button>
          <Button icon="mdi:phone" title="Telepon" href="#" />
        </template>
      </Card>
    </div>
  </div>
</template>

<style scopped lang="scss">
.btn-submit {
  @apply border border-cool-gray-500 rounded py-2 px-4 transition duration-300 ease-in-out hover:bg-cool-gray-500 hover:text-white inline-flex justify-center items-center mr-2 mb-2 transition ease-in-out w-1/6 mt-5;
}
</style>
