@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("./components/_scrollbar.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html.dark {
  @apply bg-dark-600;
}
a {
  @apply cursor-pointer;
}
